# Tareas de los videos semana 2

### 04_missing_values 
### Exercises:  
    - Create a new column called "TA_DIC_ratio" that is the ratio of TA to DIC
    - Calculate the mean and standard deviation of the "TA_DIC_ratio" for each season
    - Calculate the mean and standard deviation of the "TA_DIC_ratio" for each season and area
    - Save the results to an Excel file called "TA_DIC_Season_Areas.xlsx"

## **Primer ejercicio**

### 1. Importamos y verificamos la base de datos

In [ ]:
def import_csv(file):
    # Read the file into a DataFrame: df
    import pandas as pd
    return pd.read_csv(file)

In [ ]:
# Path to the file to be imported
path = "Terminos_lagoon_TA_DIC_2023_RawData.csv"

# Import the file
CO2Data = import_csv(path)

In [ ]:
CO2Data.head()  # Display the first few rows of the DataFrame

### 2. Creamos la nueva columna y verificamos.

In [7]:
CO2Data["TA_DIC_RATIO"] = CO2Data["ta_micromol_kg"] / CO2Data["dic_micromol_kg"]  # Create the new column

In [11]:
TA_DIC_RATIO = CO2Data["TA_DIC_RATIO"]

In [12]:
TA_DIC_RATIO.head()  # Display the first few rows of the new column

0    0.986718
1    0.996485
2    0.995704
3    1.088628
4    1.032445
Name: TA_DIC_RATIO, dtype: float64

## Segundo ejercicio.

In [13]:
season_stats = CO2Data.groupby("season")["TA_DIC_RATIO"].agg(["mean", "std"])

In [14]:
season_stats.head()  # Display the first few rows of the season statistics

            mean       std
season
Dry     1.058558  0.086111
Rainy   1.022350  0.100924

## Tercer ejercicio.

In [16]:
season_area_stats = CO2Data.groupby(["season", "area"])["TA_DIC_RATIO"].agg(["mean", "std"]).reset_index()

In [18]:
season_area_stats.head()  # Display the first few rows of the season statistics

  season   area      mean       std
0    Dry  Coast  1.115766  0.115033
1    Dry  Plume  1.059687  0.035574
2    Dry  River  1.000221  0.037747
3  Rainy  Coast  1.090127  0.129658
4  Rainy  Plume  1.025544  0.049222

## Cuarto ejercicio.

In [22]:
season_area_stats.to_csv ("TA_DIC_Season_Area.csv", index=False)  # Save the season statistics to a CSV file

### Dejar cifras significativas y dar formato

In [30]:
from tabulate import tabulate

ModuleNotFoundError: No module named 'tabulate'

In [ ]:


# Asignar nombres de columnas adecuados

season_area_stats.columns = ['season', 'area'] + [f"{var}_{stat}" for var in TA_DIC_RATIO for stat in ['mean', 'std']]

# Formatear los valores para mostrar "media ± desviación estándar" sin notación científica y con dos cifras decimales
for var in TA_DIC_RATIO:
    mean_col = f"{var}_mean"
    std_col = f"{var}_std"
    season_area_stats[f"{var}_formatted"] = season_area_stats.apply(lambda row: f"{row[mean_col]:,.2f} ± {row[std_col]:,.2f}", axis=1)

# Seleccionar solo las columnas formateadas junto con los índices
formatted_result = season_area_stats[['season', 'area'] + [f"{var}_formatted" for var in TA_DIC_RATIO]]

# Mostrar la tabla con los resultados formateados usando tabulate
table = tabulate(formatted_result, headers='keys', tablefmt='pretty', showindex=False)
print(table)

ModuleNotFoundError: No module named 'tabulate'